@font-face {
  font-family: commanders;
  src: url(../Commanders.ttf);
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Roboto Slab", serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  width: 100%;
}


nav {
  background-color: rgba(76, 76, 185, 0.719)
}

.navbar-scroll {
  background-color: rgba(0, 123, 255, 0.4) !important;
  transition: background-color 0.5s;
}

@media(max-width: 768px) {
  .navbar {
    background-color: #007bff !important;
  }
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax-container {
  max-width: 960px;
  margin: 0 auto;
  
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content:first-child {
  padding: 0;
  background-color: transparent;
}
section.module.content {
  padding: 0;
  background-color: rgba(207, 216, 220, 0.5);
}

section.module.content:last-of-type {
  padding-bottom: 40px;
}

section.module.parallax {
  background-position: 0 0;
  display: flex;
  align-content: flex-end;
}
section.module.parallax-0 {
  background-image: url("../../backG.jpg");
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 123, 255, 0.4);
  background-blend-mode: luminosity;
  font-family: commanders;

}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;1
  font-family: commanders;
  
}



section.module.parallax-1 {
  background-image: url("../../backG.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 123, 255, 0.4);
  background-blend-mode: screen;

}

section.module.parallax-2 {
  background-image: url("../../images/cover2.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: rgba(0, 123, 255, 0.4);
  background-blend-mode: screen;
}

section.module.parallax-3 {
  background-image: url("../../images/cover3.jpg");
  background-position: 50% -10%;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: inherit;
  background-color: rgba(0, 123, 255, 0.4);
  background-blend-mode: screen;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }

  section.module p {
    font-size: 20px;
  }



  section.module.parallax h1 {
    font-size: 96px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

/*footer*/
.footer .container-fluid {
  height: 100px;
}
section.module.parallax {
  padding: 35% 0 20% 0;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 60px;
}

footer .container-fluid a {
  display: inline-block;
  color: #ddd;
  padding-left: 1em;

}

footer .container-fluid p {
  display: inline-block;
  color: #ddd;
  padding-left: 1em;
  padding-right: 2em;
}

@media(max-width: 600px) {
  
  section.module.parallax {
    background-size: contain;
    
  }

}



.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.navbar {
  background-color: rgba(76, 76, 185, 0.719)
!important}
.sticky-top {
  transition: all 0.1s ease-in;
}

/* style for when sitcky is applied */
.stuck .sticky-top {
  background-color: transparent !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: bold;

}
.stuck a.nav-link {
  color: white !important;
}
a.nav-link:hover {
  text-decoration: underline;
}

img {
  flex-shrink: 0;
}

.email {
  flex-wrap: nowrap;
  max-width: 300px;
  flex-grow: 1;
}

.form-control {
  min-width: 180px;
  margin-right: 5px;
}



main.about {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about iframe {
  padding: 10px;
}

body.media {
  text-align:center; 
  margin: auto;
}